apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "govault-autounseal.fullname" . }}
  labels:
    {{- include "govault-autounseal.labels" . | nindent 4 }}
data:
  config.yaml: |
    wait_interval: {{ .Values.config.wait_interval }}
    encrypted_keys: {{ .Values.config.encrypted_keys | quote }}
    {{- if .Values.config.store.env.enabled }}
    store:
      env: {}
    {{- else if .Values.config.store.file.enabled }}
    store:
      file:
        path: {{ .Values.config.store.file.path | quote }}
    {{- else if .Values.config.store.kube.enabled }}
    store:
      kube:
        secret_name: {{ .Values.config.store.kube.secret_name | quote }}
        secret_namespace: {{ .Values.config.store.kube.secret_namespace | quote }}
    {{- end }}
    server:
      port: {{ .Values.config.httpServer.port }}
    {{- if eq .Values.config.mode "kube" }}
    kube_config:
      vault_namespace: {{ .Values.config.kubeConfig.vault_namespace | quote }}
      vault_label_selector: {{ .Values.config.kubeConfig.vault_label_selector | quote }}
      pod_scan_max_counter: {{ .Values.config.kubeConfig.pod_scan_max_counter }}
      pod_scan_delay: {{ .Values.config.kubeConfig.pod_scan_delay }}
      secret_name: {{ .Values.config.kubeConfig.secret_name }}
      secret_namespace: {{ .Release.Namespace | quote }}
      vault_pod_port: {{ .Values.config.kubeConfig.vault_pod_port }}
    {{- else if eq .Values.config.mode "http" }}
    http_config:
      vault_urls:
      {{- range .Values.config.httpConfig.vault_urls }}
        - {{ . | quote }}
      {{- end }}
      secret_key: {{ .Values.config.httpConfig.secret_key | quote }}
      secret_salt: {{ .Values.config.httpConfig.secret_salt | quote }}
    {{- end }}
