{{- if .Values.encryptedKeys }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "govault-autounseal.fullname" . }}-keys
  labels:
    {{- include "govault-autounseal.labels" . | nindent 4 }}
type: Opaque
data:
  encrypted-keys: {{ .Values.encryptedKeys }}
{{- end }}