{{- if .Values.config.store.kube.enabled and not .Values.config.store.kube.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.config.store.kube.secret_name }}
  namespace: {{ .Values.config.store.kube.secret_namespace }}
  labels:
    {{- include "govault-autounseal.labels" . | nindent 4 }}
type: Opaque
data:
  secret-key: {{ required "config.store.kube.secret_key is required when config.store.kube.enabled is true" .Values.config.store.kube.secret_key | b64enc }}
  secret-salt: {{ required "config.store.kube.secret_salt is required when config.store.kube.enabled is true" .Values.config.store.kube.secret_salt | b64enc }}
{{- end }}

{{- if .Values.config.store.env.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "govault-autounseal.fullname" . }}-env
  namespace: {{ .Values.config.store.kube.secret_namespace }}
  labels:
    {{- include "govault-autounseal.labels" . | nindent 4 }}
type: Opaque
data:
  VA_SECRET_KEY: {{ .Values.config.store.env.VA_SECRET_KEY | b64enc }}
  VA_SECRET_SALT: {{ .Values.config.store.env.VA_SECRET_SALT | b64enc }}
{{- end }}