{{- if .Values.encryptionSecret.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "govault-autounseal.fullname" . }}-keys
  labels:
    {{- include "govault-autounseal.labels" . | nindent 4 }}
type: Opaque
data:
  secret-key: {{ .Values.encryptionSecret.secretKey }}
  secret-salt: {{ .Values.encryptionSecret.secretSalt }}
{{- end }}